<!DOCTYPE html>
<html>
    <body>
        <h4></h4>
        <hr>
        <br>
        <p>Name: <%= @nailpolish.name %></p>
        <p>Brand: <%= @nailpolish.brand %></p>
        <p>Color: <%= @nailpolish.color %></p>
        <button><a href="/nailpolishes/<%= @nailpolish.id %>/edit">Edit</a></button>
        <br>
        <br>
        <form method="POST" action="/nailpolishes/<%= @nailpolish.id %>">
            <input type="hidden" id="hidden" name="_method" value="DELETE">
            <input type="submit" value="Delete">
        </form>
        <br>
        <button><a href="/nailpolishes"> Go Back</a></button>
        
    </body>
</html>


